In [1]:
import numpy as np
import pandas as pd

In [2]:
df1=pd.read_csv(r'C:\Users\User\Downloads\Outlier Dataset\Feature Scaling\social.csv')

In [3]:
df1

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df1.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [5]:
df1.drop(['User ID','Gender'],axis=1,inplace=True)

In [6]:
df1

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [8]:
X=df1[['Age','EstimatedSalary']]

In [9]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [10]:
y=df1['Purchased']

In [11]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2)

In [14]:
Xtrain.shape

(320, 2)

In [15]:
Xtest.shape

(80, 2)

In [16]:
X.shape

(400, 2)

In [17]:
ytrain.shape

(320,)

In [18]:
ytest.shape

(80,)

In [19]:
y.shape

(400,)

## Standardization

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
ss=StandardScaler()

In [22]:
ss

StandardScaler()

In [23]:
ss.fit(Xtrain)

StandardScaler()

In [24]:
Xtrain_ss=ss.transform(Xtrain)

In [25]:
Xtrain

     Age  EstimatedSalary
240   42           149000
154   40            47000
96    35            25000
300   58            38000
192   29            43000
..   ...              ...
381   48            33000
187   33            41000
262   55           125000
291   49            89000
364   42           104000

[320 rows x 2 columns]

In [26]:
Xtrain_ss

array([[ 0.41410134,  2.43600656],
       [ 0.22452705, -0.64319932],
       [-0.24940868, -1.30734176],
       [ 1.93069567, -0.91489395],
       [-0.81813155, -0.76395249],
       [ 2.02548282, -1.18658859],
       [-0.9129187 , -1.09602371],
       [-1.76600301, -1.42809493],
       [ 0.41410134,  1.19828655],
       [-0.05983439,  0.20207289],
       [-0.9129187 , -0.94508224],
       [-0.24940868, -0.73376419],
       [ 0.03495276, -0.52244614],
       [ 0.98282422,  1.53035777],
       [ 1.64633424, -0.88470566],
       [ 0.12973991,  0.1416963 ],
       [-1.38685443,  0.41339094],
       [ 0.3193142 ,  0.11150801],
       [-1.29206728, -1.24696517],
       [-1.57642872, -0.00924516],
       [-0.81813155,  0.35301435],
       [ 0.69846278, -1.09602371],
       [ 0.88803707, -1.45828322],
       [-0.53377011,  0.95678021],
       [ 1.55154709,  1.19828655],
       [ 0.3193142 , -1.15640029],
       [-0.62855726, -1.03564712],
       [-1.00770584, -1.5488481 ],
       [ 1.07761136, -0.09981004],
       [-1.38685443, -1.21677688],
       [ 0.22452705, -0.34131639],
       [-1.29206728, -1.48847152],
       [-1.10249299,  0.35301435],
       [ 1.07761136, -0.88470566],
       [ 0.69846278, -1.27715347],
       [ 0.88803707,  1.34922802],
       [ 0.12973991, -0.79414078],
       [ 0.69846278, -1.39790664],
       [ 0.22452705, -0.2809398 ],
       [-1.10249299, -1.5790364 ],
       [-1.10249299, -1.09602371],
       [ 1.07761136, -1.21677688],
       [ 0.22452705,  0.11150801],
       [-0.24940868, -0.34131639],
       [-1.19728013,  0.32282606],
       [-0.34419582,  1.31903972],
       [-0.72334441,  0.35301435],
       [ 1.07761136, -1.21677688],
       [ 1.64633424,  1.86242899],
       [-0.9129187 , -0.2809398 ],
       [-0.72334441,  0.32282606],
       [ 0.12973991,  0.20207289],
       [-0.05983439,  0.08131971],
       [ 0.3193142 ,  0.11150801],
       [-1.57642872,  0.59452069],
       [-0.05983439,  0.05113142],
       [ 2.12026997, -1.03564712],
       [-1.76600301,  0.23226118],
       [ 0.41410134,  0.32282606],
       [ 1.93069567, -0.64319932],
       [-0.53377011,  1.46998119],
       [-1.00770584, -1.126212  ],
       [-0.72334441,  1.43979289],
       [ 1.74112138,  1.95299387],
       [ 0.3193142 , -0.49225785],
       [ 0.79324993, -0.82432907],
       [-0.15462153, -0.16018663],
       [ 1.45675995,  1.07753338],
       [ 1.07761136, -0.97527054],
       [ 1.83590853, -0.25075151],
       [-0.24940868, -0.88470566],
       [-1.76600301,  0.50395581],
       [-0.15462153, -0.25075151],
       [-0.72334441, -1.60922469],
       [-1.00770584, -1.45828322],
       [-1.86079015, -0.00924516],
       [-1.76600301,  0.05113142],
       [-1.10249299,  0.11150801],
       [-0.9129187 ,  0.50395581],
       [-1.29206728, -1.09602371],
       [-1.48164157, -0.16018663],
       [-0.24940868, -1.36771834],
       [-0.9129187 , -0.40169297],
       [ 1.45675995,  0.11150801],
       [ 0.88803707, -0.52244614],
       [ 0.41410134,  0.35301435],
       [ 0.41410134, -0.43188127],
       [-0.05983439,  2.07374704],
       [ 0.69846278, -1.39790664],
       [-0.24940868,  0.26244947],
       [-1.86079015, -0.49225785],
       [ 0.12973991,  0.08131971],
       [-0.72334441, -0.19037492],
       [-1.67121586, -0.97527054],
       [-0.24940868,  0.32282606],
       [-1.19728013,  0.5643324 ],
       [-0.15462153,  0.92659191],
       [-0.81813155,  0.20207289],
       [-0.53377011,  2.01337046],
       [-0.24940868, -0.25075151],
       [ 1.3619728 ,  2.46619485],
       [ 2.12026997, -0.67338761],
       [ 0.98282422,  0.17188459],
       [-0.24940868, -1.39790664],
       [ 0.50888849,  1.8322407 ],
       [ 2.02548282,  2.2548768 ],
       [ 0.79324993, -0.2809398 ],
       [-1.86079015, -0.73376419],
       [ 0.60367563, -0.88470566],
       [-0.24940868, -0.91489395],
       [-1.19728013,  0.65489728],
       [ 1.83590853,  0.17188459],
       [ 1.74112138,  1.07753338],
       [ 1.93069567,  0.80583874],
       [ 0.98282422,  0.65489728],
       [-0.24940868,  0.59452069],
       [ 0.41410134, -0.09981004],
       [-0.15462153,  0.20207289],
       [-0.24940868,  0.11150801],
       [-1.00770584, -0.34131639],
       [-1.67121586,  0.41339094],
       [ 0.88803707,  1.10772167],
       [ 1.17239851,  0.59452069],
       [-0.62855726,  0.23226118],
       [-0.15462153, -0.49225785],
       [ 0.88803707, -0.55263444],
       [ 0.88803707, -1.15640029],
       [-0.24940868,  1.19828655],
       [ 0.3193142 ,  0.5643324 ],
       [-0.24940868, -0.40169297],
       [ 0.50888849,  1.95299387],
       [ 1.07761136,  0.17188459],
       [ 1.17239851, -0.73376419],
       [ 0.22452705, -0.09981004],
       [-1.48164157,  0.38320264],
       [-0.81813155, -0.64319932],
       [-1.76600301, -1.27715347],
       [-1.00770584,  0.59452069],
       [ 0.88803707, -1.30734176],
       [-0.24940868,  0.20207289],
       [ 0.12973991,  1.62092265],
       [-0.81813155, -0.22056321],
       [ 1.93069567,  0.9869685 ],
       [ 0.88803707, -1.03564712],
       [-1.67121586,  0.17188459],
       [-1.29206728, -0.31112809],
       [-1.29206728, -0.40169297],
       [-0.43898297, -0.52244614],
       [ 0.22452705,  0.20207289],
       [ 0.98282422, -1.18658859],
       [ 0.79324993,  0.41339094],
       [-0.43898297, -1.21677688],
       [-0.62855726, -0.00924516],
       [-0.34419582, -0.76395249],
       [ 0.03495276, -0.55263444],
       [-1.10249299, -0.49225785],
       [-0.81813155, -0.76395249],
       [-1.00770584,  0.65489728],
       [ 1.55154709,  0.05113142],
       [ 0.3193142 , -0.16018663],
       [-0.24940868, -1.45828322],
       [ 0.12973991, -0.22056321],
       [ 0.22452705, -0.34131639],
       [-0.05983439,  0.11150801],
       [ 1.45675995,  2.2548768 ],
       [ 0.79324993,  0.83602704],
       [ 0.03495276,  1.31903972],
       [ 0.50888849,  1.31903972],
       [-1.38685443, -0.16018663],
       [-0.43898297,  0.02094313],
       [ 0.41410134,  0.35301435],
       [-0.24940868, -0.55263444],
       [ 0.3193142 ,  0.11150801],
       [-1.10249299,  0.38320264],
       [ 1.45675995,  0.41339094],
       [ 0.3193142 ,  0.11150801],
       [ 2.12026997,  0.44357923],
       [-0.05983439,  0.26244947],
       [-1.10249299, -1.5488481 ],
       [ 0.98282422,  0.83602704],
       [-0.72334441, -0.58282273],
       [ 0.22452705,  1.16809826],
       [ 0.41410134, -0.46206956],
       [-0.72334441,  1.16809826],
       [-1.48164157, -1.51865981],
       [-0.62855726,  0.08131971],
       [ 1.26718565,  1.98318217],
       [ 0.12973991,  0.08131971],
       [-0.62855726,  0.17188459],
       [-1.10249299,  0.47376752],
       [ 0.3193142 , -0.2809398 ],
       [ 0.88803707, -1.36771834],
       [ 1.3619728 , -1.42809493],
       [-0.53377011,  0.53414411],
       [ 0.12973991, -0.79414078],
       [ 1.3619728 ,  1.37941631],
       [ 1.17239851, -0.97527054],
       [ 0.3193142 , -0.49225785],
       [ 2.02548282, -0.79414078],
       [ 1.3619728 ,  2.10393534],
       [-1.67121586, -1.36771834],
       [ 0.22452705,  0.20207289],
       [ 0.03495276,  0.08131971],
       [-0.43898297, -1.126212  ],
       [-0.43898297,  2.43600656],
       [-0.24940868, -1.24696517],
       [ 0.88803707, -0.76395249],
       [-1.86079015,  0.41339094],
       [ 0.03495276, -0.22056321],
       [ 1.07761136,  0.53414411],
       [-0.9129187 ,  0.32282606],
       [ 0.79324993, -1.36771834],
       [ 0.03495276, -0.55263444],
       [ 2.12026997,  1.19828655],
       [-1.29206728, -0.40169297],
       [-0.9129187 , -0.2809398 ],
       [-0.9129187 ,  0.5643324 ],
       [ 0.98282422,  1.89261729],
       [ 1.3619728 , -0.91489395],
       [ 0.98282422,  2.19450022],
       [-1.48164157, -1.24696517],
       [ 1.17239851, -1.45828322],
       [-0.15462153, -1.06583542],
       [ 2.12026997, -0.79414078],
       [ 0.3193142 , -0.7035759 ],
       [-0.53377011,  1.56054607],
       [ 1.07761136,  2.19450022],
       [ 1.45675995, -1.03564712],
       [-0.34419582, -0.76395249],
       [-0.05983439,  0.17188459],
       [ 0.3193142 ,  0.08131971],
       [-0.62855726, -0.31112809],
       [-0.62855726, -1.60922469],
       [ 2.02548282,  0.59452069],
       [-0.05983439, -0.19037492],
       [-0.05983439,  0.32282606],
       [-1.00770584,  0.47376752],
       [ 1.26718565,  2.34544168],
       [-1.86079015,  0.53414411],
       [-1.67121586, -0.58282273],
       [-0.15462153,  1.71148753],
       [ 0.03495276,  0.08131971],
       [ 1.83590853, -1.27715347],
       [-0.05983439,  0.35301435],
       [-0.72334441,  0.5643324 ],
       [-1.19728013, -1.39790664],
       [-0.43898297, -0.25075151],
       [ 0.22452705, -0.25075151],
       [ 1.07761136,  0.59452069],
       [-0.9129187 ,  1.65111094],
       [-0.24940868, -0.09981004],
       [-1.29206728,  0.47376752],
       [ 0.41410134, -0.09981004],
       [ 0.3193142 ,  0.35301435],
       [-0.43898297, -0.76395249],
       [-0.24940868, -0.22056321],
       [-1.38685443, -1.45828322],
       [-1.10249299, -1.00545883],
       [-0.05983439, -0.46206956],
       [-1.38685443, -0.06962175],
       [ 0.41410134, -0.43188127],
       [ 1.26718565, -1.36771834],
       [-0.9129187 , -0.73376419],
       [-1.10249299, -1.60922469],
       [ 0.03495276, -0.2809398 ],
       [ 0.69846278,  0.32282606],
       [ 2.02548282,  0.23226118],
       [ 0.98282422, -0.82432907],
       [-1.67121586,  0.53414411],
       [ 0.22452705, -0.22056321],
       [-0.15462153,  2.2850651 ],
       [ 0.98282422, -1.15640029],
       [-0.34419582, -1.30734176],
       [-1.29206728,  0.62470899],
       [ 0.88803707,  1.16809826],
       [ 0.41410134,  0.05113142],
       [-0.15462153,  1.50016948],
       [-0.05983439,  2.34544168],
       [-1.38685443, -0.61301102],
       [-1.57642872, -1.5790364 ],
       [ 0.41410134,  0.20207289],
       [ 0.12973991, -0.2809398 ],
       [ 0.03495276, -0.40169297],
       [-1.00770584, -0.31112809],
       [-0.72334441,  0.62470899],
       [-1.10249299, -1.60922469],
       [-0.24940868, -0.2809398 ],
       [ 0.60367563,  2.13412363],
       [-0.24940868, -0.64319932],
       [ 0.22452705,  0.29263776],
       [ 1.83590853, -1.06583542],
       [ 0.12973991,  0.32282606],
       [-0.53377011, -1.51865981],
       [ 0.22452705, -0.34131639],
       [ 0.3193142 ,  0.32282606],
       [-0.43898297,  1.34922802],
       [-1.10249299,  0.53414411],
       [ 1.3619728 ,  0.65489728],
       [-0.24940868,  0.86621533],
       [-0.24940868,  0.1416963 ],
       [ 0.03495276,  0.35301435],
       [ 2.12026997,  1.01715679],
       [ 0.88803707, -0.58282273],
       [-1.19728013, -1.06583542],
       [-1.00770584, -0.31112809],
       [ 0.12973991,  1.98318217],
       [ 0.98282422,  2.10393534],
       [-1.00770584,  0.83602704],
       [ 0.03495276, -0.22056321],
       [-0.34419582,  0.11150801],
       [-0.24940868,  0.08131971],
       [-0.53377011,  2.46619485],
       [ 0.22452705,  2.22468851],
       [-0.15462153, -0.55263444],
       [-1.00770584,  2.07374704],
       [ 0.98282422, -1.06583542],
       [-0.43898297, -0.82432907],
       [ 1.64633424,  1.71148753],
       [ 1.07761136,  0.62470899],
       [ 0.41410134,  1.07753338]])

In [27]:
Xtest_ss=ss.transform(Xtest)

In [28]:
Xtest

     Age  EstimatedSalary
107   27            89000
358   40            71000
85    31           118000
235   46            79000
252   48           134000
..   ...              ...
136   20            82000
375   46            32000
168   29           148000
47    27            54000
49    31            89000

[80 rows x 2 columns]

In [29]:
Xtest_ss

array([[-1.00770584,  0.62470899],
       [ 0.22452705,  0.08131971],
       [-0.62855726,  1.50016948],
       [ 0.79324993,  0.32282606],
       [ 0.98282422,  1.98318217],
       [-0.81813155,  0.44357923],
       [-0.05983439, -1.06583542],
       [-0.81813155,  0.44357923],
       [-0.05983439,  0.74546216],
       [-0.05983439,  0.35301435],
       [-0.72334441, -1.5488481 ],
       [ 0.3193142 , -0.25075151],
       [ 0.79324993, -1.21677688],
       [-1.48164157, -0.40169297],
       [-0.15462153,  1.74167582],
       [ 0.88803707,  2.2850651 ],
       [-0.24940868,  2.37562997],
       [ 1.55154709,  1.07753338],
       [ 0.41410134,  0.1416963 ],
       [-0.53377011,  1.46998119],
       [-0.72334441,  2.01337046],
       [-0.34419582,  1.4096046 ],
       [ 0.69846278, -0.7035759 ],
       [-1.10249299,  1.50016948],
       [-0.15462153, -0.43188127],
       [ 0.03495276, -0.09981004],
       [-0.05983439, -0.40169297],
       [ 0.98282422, -1.06583542],
       [-0.24940868, -0.46206956],
       [-1.10249299,  0.35301435],
       [-0.24940868, -0.55263444],
       [-1.57642872,  0.11150801],
       [ 0.41410134, -0.12999834],
       [ 2.12026997, -0.79414078],
       [-0.9129187 ,  0.47376752],
       [ 0.79324993,  1.46998119],
       [ 0.98282422, -1.00545883],
       [-1.10249299, -1.15640029],
       [-1.10249299, -0.76395249],
       [ 0.12973991,  1.13790997],
       [-0.62855726, -1.51865981],
       [-1.76600301, -1.30734176],
       [-0.05983439,  2.2850651 ],
       [-0.05983439, -0.34131639],
       [ 1.74112138, -0.25075151],
       [-0.81813155, -1.21677688],
       [ 0.12973991,  1.98318217],
       [-0.62855726, -0.06962175],
       [ 1.93069567,  2.2850651 ],
       [ 0.79324993,  0.59452069],
       [-0.05983439, -0.49225785],
       [ 0.41410134,  0.65489728],
       [-1.76600301, -1.48847152],
       [ 0.3193142 , -0.52244614],
       [ 2.02548282,  1.86242899],
       [-0.24940868,  0.68508557],
       [ 0.79324993,  0.17188459],
       [-1.29206728, -1.36771834],
       [ 0.12973991,  0.83602704],
       [-0.24940868,  0.11150801],
       [ 2.02548282,  0.44357923],
       [-1.19728013,  0.35301435],
       [ 0.79324993, -1.39790664],
       [-0.24940868, -0.31112809],
       [-0.24940868,  0.20207289],
       [ 0.88803707, -0.64319932],
       [ 1.83590853,  1.62092265],
       [ 0.03495276,  1.34922802],
       [-0.05983439,  0.29263776],
       [-0.9129187 ,  0.62470899],
       [ 0.12973991,  0.26244947],
       [ 0.69846278,  1.89261729],
       [ 1.93069567, -1.36771834],
       [ 1.55154709, -1.27715347],
       [-0.53377011, -1.51865981],
       [-1.67121586,  0.41339094],
       [ 0.79324993, -1.09602371],
       [-0.81813155,  2.40581827],
       [-1.00770584, -0.43188127],
       [-0.62855726,  0.62470899]])

## Score on normal data

In [30]:
from sklearn.linear_model import LogisticRegression

In [37]:
logreg=LogisticRegression()

In [38]:
logreg

LogisticRegression()

In [39]:
logreg.fit(Xtrain,ytrain)

LogisticRegression()

In [40]:
logreg.score(Xtest,ytest)

0.5625

## Score on standardized data(scaled data)

In [41]:
from sklearn.linear_model import LogisticRegression

In [42]:
logstd=LogisticRegression()

In [43]:
logstd

LogisticRegression()

In [44]:
logstd.fit(Xtrain_ss,ytrain)

LogisticRegression()

In [45]:
logstd.score(Xtest_ss,ytest)

0.8

## Normalization

In [46]:
from sklearn.preprocessing import MinMaxScaler

In [47]:
minmax=MinMaxScaler()

In [48]:
minmax.fit(Xtrain)

MinMaxScaler()

In [49]:
Xtrain_minmax=minmax.transform(Xtrain)

In [50]:
Xtest_minmax=minmax.transform(Xtest)

In [51]:
Xtrain

     Age  EstimatedSalary
240   42           149000
154   40            47000
96    35            25000
300   58            38000
192   29            43000
..   ...              ...
381   48            33000
187   33            41000
262   55           125000
291   49            89000
364   42           104000

[320 rows x 2 columns]

In [52]:
Xtrain_minmax

array([[0.57142857, 0.99259259],
       [0.52380952, 0.23703704],
       [0.4047619 , 0.07407407],
       [0.95238095, 0.17037037],
       [0.26190476, 0.20740741],
       [0.97619048, 0.1037037 ],
       [0.23809524, 0.12592593],
       [0.02380952, 0.04444444],
       [0.57142857, 0.68888889],
       [0.45238095, 0.44444444],
       [0.23809524, 0.16296296],
       [0.4047619 , 0.21481481],
       [0.47619048, 0.26666667],
       [0.71428571, 0.77037037],
       [0.88095238, 0.17777778],
       [0.5       , 0.42962963],
       [0.11904762, 0.4962963 ],
       [0.54761905, 0.42222222],
       [0.14285714, 0.08888889],
       [0.07142857, 0.39259259],
       [0.26190476, 0.48148148],
       [0.64285714, 0.12592593],
       [0.69047619, 0.03703704],
       [0.33333333, 0.62962963],
       [0.85714286, 0.68888889],
       [0.54761905, 0.11111111],
       [0.30952381, 0.14074074],
       [0.21428571, 0.01481481],
       [0.73809524, 0.37037037],
       [0.11904762, 0.0962963 ],
       [0.52380952, 0.31111111],
       [0.14285714, 0.02962963],
       [0.19047619, 0.48148148],
       [0.73809524, 0.17777778],
       [0.64285714, 0.08148148],
       [0.69047619, 0.72592593],
       [0.5       , 0.2       ],
       [0.64285714, 0.05185185],
       [0.52380952, 0.32592593],
       [0.19047619, 0.00740741],
       [0.19047619, 0.12592593],
       [0.73809524, 0.0962963 ],
       [0.52380952, 0.42222222],
       [0.4047619 , 0.31111111],
       [0.16666667, 0.47407407],
       [0.38095238, 0.71851852],
       [0.28571429, 0.48148148],
       [0.73809524, 0.0962963 ],
       [0.88095238, 0.85185185],
       [0.23809524, 0.32592593],
       [0.28571429, 0.47407407],
       [0.5       , 0.44444444],
       [0.45238095, 0.41481481],
       [0.54761905, 0.42222222],
       [0.07142857, 0.54074074],
       [0.45238095, 0.40740741],
       [1.        , 0.14074074],
       [0.02380952, 0.45185185],
       [0.57142857, 0.47407407],
       [0.95238095, 0.23703704],
       [0.33333333, 0.75555556],
       [0.21428571, 0.11851852],
       [0.28571429, 0.74814815],
       [0.9047619 , 0.87407407],
       [0.54761905, 0.27407407],
       [0.66666667, 0.19259259],
       [0.42857143, 0.35555556],
       [0.83333333, 0.65925926],
       [0.73809524, 0.15555556],
       [0.92857143, 0.33333333],
       [0.4047619 , 0.17777778],
       [0.02380952, 0.51851852],
       [0.42857143, 0.33333333],
       [0.28571429, 0.        ],
       [0.21428571, 0.03703704],
       [0.        , 0.39259259],
       [0.02380952, 0.40740741],
       [0.19047619, 0.42222222],
       [0.23809524, 0.51851852],
       [0.14285714, 0.12592593],
       [0.0952381 , 0.35555556],
       [0.4047619 , 0.05925926],
       [0.23809524, 0.2962963 ],
       [0.83333333, 0.42222222],
       [0.69047619, 0.26666667],
       [0.57142857, 0.48148148],
       [0.57142857, 0.28888889],
       [0.45238095, 0.9037037 ],
       [0.64285714, 0.05185185],
       [0.4047619 , 0.45925926],
       [0.        , 0.27407407],
       [0.5       , 0.41481481],
       [0.28571429, 0.34814815],
       [0.04761905, 0.15555556],
       [0.4047619 , 0.47407407],
       [0.16666667, 0.53333333],
       [0.42857143, 0.62222222],
       [0.26190476, 0.44444444],
       [0.33333333, 0.88888889],
       [0.4047619 , 0.33333333],
       [0.80952381, 1.        ],
       [1.        , 0.22962963],
       [0.71428571, 0.43703704],
       [0.4047619 , 0.05185185],
       [0.5952381 , 0.84444444],
       [0.97619048, 0.94814815],
       [0.66666667, 0.32592593],
       [0.        , 0.21481481],
       [0.61904762, 0.17777778],
       [0.4047619 , 0.17037037],
       [0.16666667, 0.55555556],
       [0.92857143, 0.43703704],
       [0.9047619 , 0.65925926],
       [0.95238095, 0.59259259],
       [0.71428571, 0.55555556],
       [0.4047619 , 0.54074074],
       [0.57142857, 0.37037037],
       [0.42857143, 0.44444444],
       [0.4047619 , 0.42222222],
       [0.21428571, 0.31111111],
       [0.04761905, 0.4962963 ],
       [0.69047619, 0.66666667],
       [0.76190476, 0.54074074],
       [0.30952381, 0.45185185],
       [0.42857143, 0.27407407],
       [0.69047619, 0.25925926],
       [0.69047619, 0.11111111],
       [0.4047619 , 0.68888889],
       [0.54761905, 0.53333333],
       [0.4047619 , 0.2962963 ],
       [0.5952381 , 0.87407407],
       [0.73809524, 0.43703704],
       [0.76190476, 0.21481481],
       [0.52380952, 0.37037037],
       [0.0952381 , 0.48888889],
       [0.26190476, 0.23703704],
       [0.02380952, 0.08148148],
       [0.21428571, 0.54074074],
       [0.69047619, 0.07407407],
       [0.4047619 , 0.44444444],
       [0.5       , 0.79259259],
       [0.26190476, 0.34074074],
       [0.95238095, 0.63703704],
       [0.69047619, 0.14074074],
       [0.04761905, 0.43703704],
       [0.14285714, 0.31851852],
       [0.14285714, 0.2962963 ],
       [0.35714286, 0.26666667],
       [0.52380952, 0.44444444],
       [0.71428571, 0.1037037 ],
       [0.66666667, 0.4962963 ],
       [0.35714286, 0.0962963 ],
       [0.30952381, 0.39259259],
       [0.38095238, 0.20740741],
       [0.47619048, 0.25925926],
       [0.19047619, 0.27407407],
       [0.26190476, 0.20740741],
       [0.21428571, 0.55555556],
       [0.85714286, 0.40740741],
       [0.54761905, 0.35555556],
       [0.4047619 , 0.03703704],
       [0.5       , 0.34074074],
       [0.52380952, 0.31111111],
       [0.45238095, 0.42222222],
       [0.83333333, 0.94814815],
       [0.66666667, 0.6       ],
       [0.47619048, 0.71851852],
       [0.5952381 , 0.71851852],
       [0.11904762, 0.35555556],
       [0.35714286, 0.4       ],
       [0.57142857, 0.48148148],
       [0.4047619 , 0.25925926],
       [0.54761905, 0.42222222],
       [0.19047619, 0.48888889],
       [0.83333333, 0.4962963 ],
       [0.54761905, 0.42222222],
       [1.        , 0.5037037 ],
       [0.45238095, 0.45925926],
       [0.19047619, 0.01481481],
       [0.71428571, 0.6       ],
       [0.28571429, 0.25185185],
       [0.52380952, 0.68148148],
       [0.57142857, 0.28148148],
       [0.28571429, 0.68148148],
       [0.0952381 , 0.02222222],
       [0.30952381, 0.41481481],
       [0.78571429, 0.88148148],
       [0.5       , 0.41481481],
       [0.30952381, 0.43703704],
       [0.19047619, 0.51111111],
       [0.54761905, 0.32592593],
       [0.69047619, 0.05925926],
       [0.80952381, 0.04444444],
       [0.33333333, 0.52592593],
       [0.5       , 0.2       ],
       [0.80952381, 0.73333333],
       [0.76190476, 0.15555556],
       [0.54761905, 0.27407407],
       [0.97619048, 0.2       ],
       [0.80952381, 0.91111111],
       [0.04761905, 0.05925926],
       [0.52380952, 0.44444444],
       [0.47619048, 0.41481481],
       [0.35714286, 0.11851852],
       [0.35714286, 0.99259259],
       [0.4047619 , 0.08888889],
       [0.69047619, 0.20740741],
       [0.        , 0.4962963 ],
       [0.47619048, 0.34074074],
       [0.73809524, 0.52592593],
       [0.23809524, 0.47407407],
       [0.66666667, 0.05925926],
       [0.47619048, 0.25925926],
       [1.        , 0.68888889],
       [0.14285714, 0.2962963 ],
       [0.23809524, 0.32592593],
       [0.23809524, 0.53333333],
       [0.71428571, 0.85925926],
       [0.80952381, 0.17037037],
       [0.71428571, 0.93333333],
       [0.0952381 , 0.08888889],
       [0.76190476, 0.03703704],
       [0.42857143, 0.13333333],
       [1.        , 0.2       ],
       [0.54761905, 0.22222222],
       [0.33333333, 0.77777778],
       [0.73809524, 0.93333333],
       [0.83333333, 0.14074074],
       [0.38095238, 0.20740741],
       [0.45238095, 0.43703704],
       [0.54761905, 0.41481481],
       [0.30952381, 0.31851852],
       [0.30952381, 0.        ],
       [0.97619048, 0.54074074],
       [0.45238095, 0.34814815],
       [0.45238095, 0.47407407],
       [0.21428571, 0.51111111],
       [0.78571429, 0.97037037],
       [0.        , 0.52592593],
       [0.04761905, 0.25185185],
       [0.42857143, 0.81481481],
       [0.47619048, 0.41481481],
       [0.92857143, 0.08148148],
       [0.45238095, 0.48148148],
       [0.28571429, 0.53333333],
       [0.16666667, 0.05185185],
       [0.35714286, 0.33333333],
       [0.52380952, 0.33333333],
       [0.73809524, 0.54074074],
       [0.23809524, 0.8       ],
       [0.4047619 , 0.37037037],
       [0.14285714, 0.51111111],
       [0.57142857, 0.37037037],
       [0.54761905, 0.48148148],
       [0.35714286, 0.20740741],
       [0.4047619 , 0.34074074],
       [0.11904762, 0.03703704],
       [0.19047619, 0.14814815],
       [0.45238095, 0.28148148],
       [0.11904762, 0.37777778],
       [0.57142857, 0.28888889],
       [0.78571429, 0.05925926],
       [0.23809524, 0.21481481],
       [0.19047619, 0.        ],
       [0.47619048, 0.32592593],
       [0.64285714, 0.47407407],
       [0.97619048, 0.45185185],
       [0.71428571, 0.19259259],
       [0.04761905, 0.52592593],
       [0.52380952, 0.34074074],
       [0.42857143, 0.95555556],
       [0.71428571, 0.11111111],
       [0.38095238, 0.07407407],
       [0.14285714, 0.54814815],
       [0.69047619, 0.68148148],
       [0.57142857, 0.40740741],
       [0.42857143, 0.76296296],
       [0.45238095, 0.97037037],
       [0.11904762, 0.24444444],
       [0.07142857, 0.00740741],
       [0.57142857, 0.44444444],
       [0.5       , 0.32592593],
       [0.47619048, 0.2962963 ],
       [0.21428571, 0.31851852],
       [0.28571429, 0.54814815],
       [0.19047619, 0.        ],
       [0.4047619 , 0.32592593],
       [0.61904762, 0.91851852],
       [0.4047619 , 0.23703704],
       [0.52380952, 0.46666667],
       [0.92857143, 0.13333333],
       [0.5       , 0.47407407],
       [0.33333333, 0.02222222],
       [0.52380952, 0.31111111],
       [0.54761905, 0.47407407],
       [0.35714286, 0.72592593],
       [0.19047619, 0.52592593],
       [0.80952381, 0.55555556],
       [0.4047619 , 0.60740741],
       [0.4047619 , 0.42962963],
       [0.47619048, 0.48148148],
       [1.        , 0.64444444],
       [0.69047619, 0.25185185],
       [0.16666667, 0.13333333],
       [0.21428571, 0.31851852],
       [0.5       , 0.88148148],
       [0.71428571, 0.91111111],
       [0.21428571, 0.6       ],
       [0.47619048, 0.34074074],
       [0.38095238, 0.42222222],
       [0.4047619 , 0.41481481],
       [0.33333333, 1.        ],
       [0.52380952, 0.94074074],
       [0.42857143, 0.25925926],
       [0.21428571, 0.9037037 ],
       [0.71428571, 0.13333333],
       [0.35714286, 0.19259259],
       [0.88095238, 0.81481481],
       [0.73809524, 0.54814815],
       [0.57142857, 0.65925926]])

In [53]:
Xtest

     Age  EstimatedSalary
107   27            89000
358   40            71000
85    31           118000
235   46            79000
252   48           134000
..   ...              ...
136   20            82000
375   46            32000
168   29           148000
47    27            54000
49    31            89000

[80 rows x 2 columns]

In [54]:
Xtest_minmax

array([[0.21428571, 0.54814815],
       [0.52380952, 0.41481481],
       [0.30952381, 0.76296296],
       [0.66666667, 0.47407407],
       [0.71428571, 0.88148148],
       [0.26190476, 0.5037037 ],
       [0.45238095, 0.13333333],
       [0.26190476, 0.5037037 ],
       [0.45238095, 0.57777778],
       [0.45238095, 0.48148148],
       [0.28571429, 0.01481481],
       [0.54761905, 0.33333333],
       [0.66666667, 0.0962963 ],
       [0.0952381 , 0.2962963 ],
       [0.42857143, 0.82222222],
       [0.69047619, 0.95555556],
       [0.4047619 , 0.97777778],
       [0.85714286, 0.65925926],
       [0.57142857, 0.42962963],
       [0.33333333, 0.75555556],
       [0.28571429, 0.88888889],
       [0.38095238, 0.74074074],
       [0.64285714, 0.22222222],
       [0.19047619, 0.76296296],
       [0.42857143, 0.28888889],
       [0.47619048, 0.37037037],
       [0.45238095, 0.2962963 ],
       [0.71428571, 0.13333333],
       [0.4047619 , 0.28148148],
       [0.19047619, 0.48148148],
       [0.4047619 , 0.25925926],
       [0.07142857, 0.42222222],
       [0.57142857, 0.36296296],
       [1.        , 0.2       ],
       [0.23809524, 0.51111111],
       [0.66666667, 0.75555556],
       [0.71428571, 0.14814815],
       [0.19047619, 0.11111111],
       [0.19047619, 0.20740741],
       [0.5       , 0.67407407],
       [0.30952381, 0.02222222],
       [0.02380952, 0.07407407],
       [0.45238095, 0.95555556],
       [0.45238095, 0.31111111],
       [0.9047619 , 0.33333333],
       [0.26190476, 0.0962963 ],
       [0.5       , 0.88148148],
       [0.30952381, 0.37777778],
       [0.95238095, 0.95555556],
       [0.66666667, 0.54074074],
       [0.45238095, 0.27407407],
       [0.57142857, 0.55555556],
       [0.02380952, 0.02962963],
       [0.54761905, 0.26666667],
       [0.97619048, 0.85185185],
       [0.4047619 , 0.56296296],
       [0.66666667, 0.43703704],
       [0.14285714, 0.05925926],
       [0.5       , 0.6       ],
       [0.4047619 , 0.42222222],
       [0.97619048, 0.5037037 ],
       [0.16666667, 0.48148148],
       [0.66666667, 0.05185185],
       [0.4047619 , 0.31851852],
       [0.4047619 , 0.44444444],
       [0.69047619, 0.23703704],
       [0.92857143, 0.79259259],
       [0.47619048, 0.72592593],
       [0.45238095, 0.46666667],
       [0.23809524, 0.54814815],
       [0.5       , 0.45925926],
       [0.64285714, 0.85925926],
       [0.95238095, 0.05925926],
       [0.85714286, 0.08148148],
       [0.33333333, 0.02222222],
       [0.04761905, 0.4962963 ],
       [0.66666667, 0.12592593],
       [0.26190476, 0.98518519],
       [0.21428571, 0.28888889],
       [0.30952381, 0.54814815]])

## Score on Normalized data(scaled data)

In [55]:
from sklearn.linear_model import LogisticRegression

In [56]:
lognorm=LogisticRegression()

In [57]:
lognorm

LogisticRegression()

In [58]:
lognorm.fit(Xtrain_minmax,ytrain)

LogisticRegression()

In [59]:
lognorm.score(Xtest_minmax,ytest)

0.75