In [1]:
import pandas as pd
import numpy as np

In [4]:
dfhprice=pd.read_csv(r'C:\Users\User\Downloads\ML Dataset\Linear Regression\Regularization\Melbourne_housing_FULL.csv')

In [5]:
dfhprice

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1480000.0,PI,Jas,6.3,4.0,1.0,3.0,593.0,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34853,Yarraville,2,h,888000.0,SP,Sweeney,6.3,2.0,2.0,1.0,98.0,104.0,Maribyrnong City Council,Western Metropolitan,6543.0
34854,Yarraville,2,t,705000.0,S,Jas,6.3,2.0,1.0,2.0,220.0,120.0,Maribyrnong City Council,Western Metropolitan,6543.0
34855,Yarraville,3,h,1140000.0,SP,hockingstuart,6.3,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34856,Yarraville,2,h,1020000.0,PI,RW,6.3,2.0,1.0,0.0,250.0,103.0,Maribyrnong City Council,Western Metropolitan,6543.0

In [6]:
dfhprice.isna()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
34853,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
34854,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
34855,False,False,False,False,False,False,False,True,True,True,True,True,False,False,False
34856,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
dfhprice.isna().sum() # isna()=isnull()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [8]:
dfhprice.isna().sum().sum()

65716

In [10]:
# Our core purpose is to land this data in overfitting so don't bother about the preprocessing(cleaning) of the data.

In [12]:
dfhprice.columns

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Distance',
       'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'CouncilArea', 'Regionname', 'Propertycount'],
      dtype='object')

In [13]:
cols=['Distance','Bedroom2','Bathroom','Car','Propertycount'] # we are making all the nan values of all these columns as zero.

In [14]:
cols

['Distance', 'Bedroom2', 'Bathroom', 'Car', 'Propertycount']

In [16]:
dfhprice[cols]
# OR dfhprice[['Distance','Bedroom2','Bathroom','Car','Propertycount']]

       Distance  Bedroom2  Bathroom  Car  Propertycount
0           2.5       2.0       1.0  1.0         4019.0
1           2.5       2.0       1.0  1.0         4019.0
2           2.5       2.0       1.0  0.0         4019.0
3           2.5       3.0       2.0  1.0         4019.0
4           2.5       3.0       2.0  0.0         4019.0
...         ...       ...       ...  ...            ...
34852       6.3       4.0       1.0  3.0         6543.0
34853       6.3       2.0       2.0  1.0         6543.0
34854       6.3       2.0       1.0  2.0         6543.0
34855       6.3       NaN       NaN  NaN         6543.0
34856       6.3       2.0       1.0  0.0         6543.0

[34857 rows x 5 columns]

In [17]:
dfhprice[cols].isna().sum()

Distance            1
Bedroom2         8217
Bathroom         8226
Car              8728
Propertycount       3
dtype: int64

In [19]:
dfhprice[cols]=dfhprice[cols].fillna(0)

In [20]:
dfhprice.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [21]:
dfhprice['Landsize'].isna().sum()

11810

In [23]:
m1=dfhprice['Landsize'].mean()

In [24]:
m1

593.598993361392

In [25]:
# dfhprice['Landsize'].fillna(m1)
dfhprice['Landsize'].fillna(dfhprice['Landsize'].mean())

0        126.000000
1        202.000000
2        156.000000
3          0.000000
4        134.000000
            ...
34852    593.000000
34853     98.000000
34854    220.000000
34855    593.598993
34856    250.000000
Name: Landsize, Length: 34857, dtype: float64

In [26]:
dfhprice['Landsize'].fillna(dfhprice['Landsize'].mean()).isna().sum()

0

In [27]:
dfhprice['Landsize']=dfhprice['Landsize'].fillna(dfhprice['Landsize'].mean()) # Permanent change

In [29]:
dfhprice.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize             0
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [30]:
dfhprice['BuildingArea'].isna().sum()

21115

In [31]:
dfhprice['BuildingArea'].mean()

160.2564003565711

In [32]:
dfhprice['BuildingArea'].fillna(dfhprice['BuildingArea'].mean())

0        160.2564
1        160.2564
2         79.0000
3        160.2564
4        150.0000
           ...
34852    160.2564
34853    104.0000
34854    120.0000
34855    160.2564
34856    103.0000
Name: BuildingArea, Length: 34857, dtype: float64

In [33]:
dfhprice['BuildingArea'].fillna(dfhprice['BuildingArea'].mean()).isna().sum()

0

In [34]:
dfhprice['BuildingArea']=dfhprice['BuildingArea'].fillna(dfhprice['BuildingArea'].mean())

In [35]:
dfhprice.isna().sum()

Suburb              0
Rooms               0
Type                0
Price            7610
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         3
Regionname          3
Propertycount       0
dtype: int64

In [37]:
dfhprice.dropna(inplace=True)

In [39]:
dfhprice.isna().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [40]:
dfhprice.shape

(27244, 15)

# Encoding

In [42]:
dfhprice.dtypes # there are 6 categorical columns

Suburb            object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Distance         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
CouncilArea       object
Regionname        object
Propertycount    float64
dtype: object

In [43]:
dfhprice[['Suburb', 'Type', 'Method', 'SellerG',
       'CouncilArea', 'Regionname']]

,Suburb,Type,Method,SellerG,CouncilArea,Regionname
1,Abbotsford,h,S,Biggin,Yarra City Council,Northern Metropolitan
2,Abbotsford,h,S,Biggin,Yarra City Council,Northern Metropolitan
4,Abbotsford,h,SP,Biggin,Yarra City Council,Northern Metropolitan
5,Abbotsford,h,PI,Biggin,Yarra City Council,Northern Metropolitan
6,Abbotsford,h,VB,Nelson,Yarra City Council,Northern Metropolitan
...,...,...,...,...,...,...
34852,Yarraville,h,PI,Jas,Maribyrnong City Council,Western Metropolitan
34853,Yarraville,h,SP,Sweeney,Maribyrnong City Council,Western Metropolitan
34854,Yarraville,t,S,Jas,Maribyrnong City Council,Western Metropolitan
34855,Yarraville,h,SP,hockingstuart,Maribyrnong City Council,Western Metropolitan
34856,Yarraville,h,PI,RW,Maribyrnong City Council,Western Metropolitan

In [44]:
pd.get_dummies(dfhprice[['Suburb', 'Type', 'Method', 'SellerG',
       'CouncilArea', 'Regionname']])

,Suburb_Abbotsford,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albanvale,Suburb_Albert Park,Suburb_Albion,Suburb_Alphington,Suburb_Altona,Suburb_Altona Meadows,Suburb_Altona North,...,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Metropolitan,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34853,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34854,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34855,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [45]:
dfhprice

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.000000,160.2564,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.000000,79.0000,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.000000,150.0000,Yarra City Council,Northern Metropolitan,4019.0
5,Abbotsford,3,h,850000.0,PI,Biggin,2.5,3.0,2.0,1.0,94.000000,160.2564,Yarra City Council,Northern Metropolitan,4019.0
6,Abbotsford,4,h,1600000.0,VB,Nelson,2.5,3.0,1.0,2.0,120.000000,142.0000,Yarra City Council,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1480000.0,PI,Jas,6.3,4.0,1.0,3.0,593.000000,160.2564,Maribyrnong City Council,Western Metropolitan,6543.0
34853,Yarraville,2,h,888000.0,SP,Sweeney,6.3,2.0,2.0,1.0,98.000000,104.0000,Maribyrnong City Council,Western Metropolitan,6543.0
34854,Yarraville,2,t,705000.0,S,Jas,6.3,2.0,1.0,2.0,220.000000,120.0000,Maribyrnong City Council,Western Metropolitan,6543.0
34855,Yarraville,3,h,1140000.0,SP,hockingstuart,6.3,0.0,0.0,0.0,593.598993,160.2564,Maribyrnong City Council,Western Metropolitan,6543.0
34856,Yarraville,2,h,1020000.0,PI,RW,6.3,2.0,1.0,0.0,250.000000,103.0000,Maribyrnong City Council,Western Metropolitan,6543.0

In [48]:
dfhprice=pd.get_dummies(dfhprice,drop_first=True)

In [50]:
dfhprice

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,1480000.0,2.5,2.0,1.0,1.0,202.000000,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,1035000.0,2.5,2.0,1.0,0.0,156.000000,79.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,1465000.0,2.5,3.0,2.0,0.0,134.000000,150.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
5,3,850000.0,2.5,3.0,2.0,1.0,94.000000,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,1600000.0,2.5,3.0,1.0,2.0,120.000000,142.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,1480000.0,6.3,4.0,1.0,3.0,593.000000,160.2564,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34853,2,888000.0,6.3,2.0,2.0,1.0,98.000000,104.0000,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34854,2,705000.0,6.3,2.0,1.0,2.0,220.000000,120.0000,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34855,3,1140000.0,6.3,0.0,0.0,0.0,593.598993,160.2564,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,1020000.0,6.3,2.0,1.0,0.0,250.000000,103.0000,6543.0,0,...,0,0,0,0,0,0,0,0,1,0

In [51]:
dfhprice.dtypes

Rooms                                      int64
Price                                    float64
Distance                                 float64
Bedroom2                                 float64
Bathroom                                 float64
                                          ...
Regionname_Northern Victoria               uint8
Regionname_South-Eastern Metropolitan      uint8
Regionname_Southern Metropolitan           uint8
Regionname_Western Metropolitan            uint8
Regionname_Western Victoria                uint8
Length: 745, dtype: object

# Splitting

In [52]:
X=dfhprice.drop('Price',axis=1)

In [53]:
X

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,2.5,2.0,1.0,1.0,202.000000,160.2564,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,2.5,2.0,1.0,0.0,156.000000,79.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,2.5,3.0,2.0,0.0,134.000000,150.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
5,3,2.5,3.0,2.0,1.0,94.000000,160.2564,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,2.5,3.0,1.0,2.0,120.000000,142.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,6.3,4.0,1.0,3.0,593.000000,160.2564,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34853,2,6.3,2.0,2.0,1.0,98.000000,104.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34854,2,6.3,2.0,1.0,2.0,220.000000,120.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34855,3,6.3,0.0,0.0,0.0,593.598993,160.2564,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,6.3,2.0,1.0,0.0,250.000000,103.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [54]:
y=dfhprice['Price']

In [55]:
y

1        1480000.0
2        1035000.0
4        1465000.0
5         850000.0
6        1600000.0
           ...
34852    1480000.0
34853     888000.0
34854     705000.0
34855    1140000.0
34856    1020000.0
Name: Price, Length: 27244, dtype: float64

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.30,random_state=2)

In [58]:
Xtrain.shape,Xtest.shape,X.shape

((19070, 744), (8174, 744), (27244, 744))

## Linear Regression Algorithm

In [59]:
from sklearn.linear_model import LinearRegression

In [60]:
lrmodel=LinearRegression()

In [61]:
lrmodel

LinearRegression()

In [62]:
lrmodel.fit(Xtrain,ytrain)

LinearRegression()

In [63]:
lrmodel.score(Xtest,ytest)

0.13853683161538477

In [64]:
lrmodel.score(Xtrain,ytrain) # this is the case of Overfitting

0.6827792395792723

## Regularization with Ridge and Lasso

In [65]:
from sklearn.linear_model import Ridge

In [66]:
rg=Ridge()

In [67]:
rg

Ridge()

In [68]:
rg.fit(Xtrain,ytrain)

Ridge()

In [69]:
rg.score(Xtest,ytest)

0.6701765758295282

In [70]:
rg.score(Xtrain,ytrain)

0.6796668251040214