In [1]:
import pandas as pd
import numpy as np

## List to Series

In [2]:
l=[20,34,56,76,78]

In [3]:
p=pd.Series(l)

In [4]:
p

0    20
1    34
2    56
3    76
4    78
dtype: int64

In [2]:
p1=pd.Series([100,200,300,400])

In [3]:
p1

0    100
1    200
2    300
3    400
dtype: int64

In [4]:
p1[1]

200

In [5]:
p1.index=['AA','BB','CC','DD']

In [6]:
p1

AA    100
BB    200
CC    300
DD    400
dtype: int64

In [7]:
type(p1)

pandas.core.series.Series

In [8]:
p2=pd.Series([10,20,30,40],dtype='float')

In [9]:
p2

0    10.0
1    20.0
2    30.0
3    40.0
dtype: float64

In [10]:
p3=pd.Series([1000,2000,3000,4000],index=['A','B','C','D'])

In [11]:
p3

A    1000
B    2000
C    3000
D    4000
dtype: int64

In [12]:
p3['C']

3000

In [13]:
p3[2]

3000

In [14]:
p3['D']

4000

In [15]:
p3[3]

4000

In [16]:
p3[1:3]

B    2000
C    3000
dtype: int64

In [17]:
p3['B':'D'] # D value is also included here

B    2000
C    3000
D    4000
dtype: int64

In [18]:
p4=pd.Series(['APPLE','ORANGE','BANANA','KIWI'])

In [19]:
p4

0     APPLE
1    ORANGE
2    BANANA
3      KIWI
dtype: object

In [20]:
p5=pd.Series(['APPLE','ORANGE','BANANA','KIWI'],index=[11,22,33,44])

In [21]:
p5

11     APPLE
22    ORANGE
33    BANANA
44      KIWI
dtype: object

In [22]:
p5[1] # when we give index as numbers then we cant extract values by original index

KeyError: 1

## Scalar to Series

In [23]:
pd.Series(9,index=[0,1,2,3,4,5])

0    9
1    9
2    9
3    9
4    9
5    9
dtype: int64

## Numpy array to Series

In [24]:
ary1=np.arange(11,16)

In [25]:
pd.Series(ary1) # Created pandas object using numpy array

0    11
1    12
2    13
3    14
4    15
dtype: int32

In [26]:
pd.Series(np.arange(1,10))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

## Dictionary to Series

In [27]:
d1={
    'A':'APPLE',
    'I':'INDIA',
    'U':'USA'
}

In [28]:
s1=pd.Series(d1)

In [29]:
s1

A    APPLE
I    INDIA
U      USA
dtype: object

In [30]:
s1['A']

'APPLE'

In [31]:
s1[0]

'APPLE'

In [32]:
s1[['A','U']] # double brackets used here

A    APPLE
U      USA
dtype: object

In [33]:
s2=pd.Series(d1,index=['P','Q','R','S'])

In [34]:
s2

P    NaN
Q    NaN
R    NaN
S    NaN
dtype: object

In [35]:
d2={'A':10,'B':20,'C':30,'D':40}

In [36]:
s3=pd.Series(d2)

In [37]:
s3

A    10
B    20
C    30
D    40
dtype: int64

In [38]:
s3['A':'C']

A    10
B    20
C    30
dtype: int64

In [39]:
d2

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [40]:
s3=pd.Series(d2,index=['X','Y','Z','K'])
# In case of dictionary,we can not change the index at the time of creating pandas object, rather it will look for the values of X,Y,Z,K
# keys are the default index
# But we can change the index explicitly after creation of pandas object

In [41]:
s3

X   NaN
Y   NaN
Z   NaN
K   NaN
dtype: float64

In [42]:
s3=pd.Series(d2,index=['X','Y','Z','A'])

In [43]:
s3

X     NaN
Y     NaN
Z     NaN
A    10.0
dtype: float64

In [44]:
s3=pd.Series(d2,index=['D','C','B','A'])

In [45]:
s3

D    40
C    30
B    20
A    10
dtype: int64

In [46]:
s3['D']

40

In [47]:
s3.index=['X','Y','Z','K']
# This is the way where we can change index of already created pandas object

In [48]:
s3

X    40
Y    30
Z    20
K    10
dtype: int64

In [49]:
s4=pd.Series([100,200,300,400,500])

In [50]:
s4

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [51]:
s4>200

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [52]:
s4[s4>200]

2    300
3    400
4    500
dtype: int64

In [54]:
s4[(s4<200)|(s4>300)]

0    100
3    400
4    500
dtype: int64

In [55]:
s4+100

0    200
1    300
2    400
3    500
4    600
dtype: int64

In [56]:
s4*2

0     200
1     400
2     600
3     800
4    1000
dtype: int64

In [57]:
s5=pd.Series(np.random.randint(100,300,(20)))

In [58]:
s5

0     278
1     257
2     120
3     214
4     173
5     218
6     176
7     172
8     285
9     104
10    175
11    232
12    240
13    121
14    210
15    284
16    206
17    249
18    106
19    207
dtype: int32

In [59]:
s5.rank()

0     18.0
1     17.0
2      3.0
3     12.0
4      6.0
5     13.0
6      8.0
7      5.0
8     20.0
9      1.0
10     7.0
11    14.0
12    15.0
13     4.0
14    11.0
15    19.0
16     9.0
17    16.0
18     2.0
19    10.0
dtype: float64

In [60]:
s5

0     278
1     257
2     120
3     214
4     173
5     218
6     176
7     172
8     285
9     104
10    175
11    232
12    240
13    121
14    210
15    284
16    206
17    249
18    106
19    207
dtype: int32

In [63]:
s6=s5.sort_values()

In [64]:
s6

9     104
18    106
2     120
13    121
7     172
4     173
10    175
6     176
16    206
19    207
14    210
3     214
5     218
11    232
12    240
17    249
1     257
0     278
15    284
8     285
dtype: int32

In [65]:
s6.sort_index()

0     278
1     257
2     120
3     214
4     173
5     218
6     176
7     172
8     285
9     104
10    175
11    232
12    240
13    121
14    210
15    284
16    206
17    249
18    106
19    207
dtype: int32

In [68]:
s6[5]=np.NaN
s6[1]=np.NaN
s6[8]=np.NaN
s6[9]=np.NaN
s6[13]=np.NaN

# OR  s6[5,1,8,9,13]=np.nan

In [69]:
s6

9       NaN
18    106.0
2     120.0
13      NaN
7     172.0
4     173.0
10    175.0
6     176.0
16    206.0
19    207.0
14    210.0
3     214.0
5       NaN
11    232.0
12    240.0
17    249.0
1       NaN
0     278.0
15    284.0
8       NaN
dtype: float64

In [70]:
s7=s6.sort_index()

In [71]:
s7

0     278.0
1       NaN
2     120.0
3     214.0
4     173.0
5       NaN
6     176.0
7     172.0
8       NaN
9       NaN
10    175.0
11    232.0
12    240.0
13      NaN
14    210.0
15    284.0
16    206.0
17    249.0
18    106.0
19    207.0
dtype: float64

In [72]:
s7.isnull()

0     False
1      True
2     False
3     False
4     False
5      True
6     False
7     False
8      True
9      True
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [73]:
s7[s7.isnull()]

1    NaN
5    NaN
8    NaN
9    NaN
13   NaN
dtype: float64

In [76]:
s7.isna()

0     False
1      True
2     False
3     False
4     False
5      True
6     False
7     False
8      True
9      True
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [77]:
s7[s7.isna()] # is same as isnull()

1    NaN
5    NaN
8    NaN
9    NaN
13   NaN
dtype: float64

In [74]:
s7.isnull().sum()

5

In [75]:
s7.isna().sum()

5

In [78]:
s7.notnull()

0      True
1     False
2      True
3      True
4      True
5     False
6      True
7      True
8     False
9     False
10     True
11     True
12     True
13    False
14     True
15     True
16     True
17     True
18     True
19     True
dtype: bool

In [80]:
s7[s7.notnull()]

0     278.0
2     120.0
3     214.0
4     173.0
6     176.0
7     172.0
10    175.0
11    232.0
12    240.0
14    210.0
15    284.0
16    206.0
17    249.0
18    106.0
19    207.0
dtype: float64

In [82]:
s7.notnull().sum()

15