In [1]:
import pandas as pd
import numpy as np

In [3]:
df1=pd.read_csv(r'C:\Users\User\Downloads\DATASETS\Time_series\TATAMOTORS.csv')

In [4]:
df1

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-02-26,323.000000,332.950012,318.850006,322.950012,322.950012,91901339
1,2021-03-01,330.000000,331.850006,322.700012,328.299988,328.299988,61190868
2,2021-03-02,331.100006,347.200012,326.450012,345.750000,345.750000,127708761
3,2021-03-03,348.649994,357.000000,346.500000,348.500000,348.500000,92006451
4,2021-03-04,339.000000,345.399994,337.299988,339.200012,339.200012,59863169
...,...,...,...,...,...,...,...
243,2022-02-21,490.149994,500.399994,486.100006,494.450012,494.450012,22592161
244,2022-02-22,480.549988,486.299988,471.450012,478.250000,478.250000,27957544
245,2022-02-23,481.750000,485.399994,475.299988,477.000000,477.000000,17703998
246,2022-02-24,455.950012,461.549988,405.450012,427.950012,427.950012,57265685
247,2022-02-25,444.850006,465.700012,441.600006,459.750000,459.750000,48876182

In [5]:
df2=df1.drop('Date',axis=1)

In [7]:
df2

           Open        High         Low       Close   Adj Close     Volume
0    323.000000  332.950012  318.850006  322.950012  322.950012   91901339
1    330.000000  331.850006  322.700012  328.299988  328.299988   61190868
2    331.100006  347.200012  326.450012  345.750000  345.750000  127708761
3    348.649994  357.000000  346.500000  348.500000  348.500000   92006451
4    339.000000  345.399994  337.299988  339.200012  339.200012   59863169
..          ...         ...         ...         ...         ...        ...
243  490.149994  500.399994  486.100006  494.450012  494.450012   22592161
244  480.549988  486.299988  471.450012  478.250000  478.250000   27957544
245  481.750000  485.399994  475.299988  477.000000  477.000000   17703998
246  455.950012  461.549988  405.450012  427.950012  427.950012   57265685
247  444.850006  465.700012  441.600006  459.750000  459.750000   48876182

[248 rows x 6 columns]

In [8]:
pd.date_range(start='17-04-2017',end='27-06-2018')

DatetimeIndex(['2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
               '2017-04-21', '2017-04-22', '2017-04-23', '2017-04-24',
               '2017-04-25', '2017-04-26',
               ...
               '2018-06-18', '2018-06-19', '2018-06-20', '2018-06-21',
               '2018-06-22', '2018-06-23', '2018-06-24', '2018-06-25',
               '2018-06-26', '2018-06-27'],
              dtype='datetime64[ns]', length=437, freq='D')

In [9]:
pd.date_range(start='17-04-2017',end='27-06-2018',freq='D')

DatetimeIndex(['2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
               '2017-04-21', '2017-04-22', '2017-04-23', '2017-04-24',
               '2017-04-25', '2017-04-26',
               ...
               '2018-06-18', '2018-06-19', '2018-06-20', '2018-06-21',
               '2018-06-22', '2018-06-23', '2018-06-24', '2018-06-25',
               '2018-06-26', '2018-06-27'],
              dtype='datetime64[ns]', length=437, freq='D')

In [10]:
pd.date_range(start='17.04.2017',end='27.06.2018',periods=248)

DatetimeIndex([          '2017-04-17 00:00:00',
               '2017-04-18 18:21:51.740890688',
               '2017-04-20 12:43:43.481781376',
               '2017-04-22 07:05:35.222672064',
               '2017-04-24 01:27:26.963562753',
               '2017-04-25 19:49:18.704453441',
               '2017-04-27 14:11:10.445344129',
               '2017-04-29 08:33:02.186234817',
               '2017-05-01 02:54:53.927125506',
               '2017-05-02 21:16:45.668016194',
               ...
               '2018-06-11 02:43:14.331983800',
               '2018-06-12 21:05:06.072874488',
               '2018-06-14 15:26:57.813765184',
               '2018-06-16 09:48:49.554655872',
               '2018-06-18 04:10:41.295546560',
               '2018-06-19 22:32:33.036437248',
               '2018-06-21 16:54:24.777327936',
               '2018-06-23 11:16:16.518218624',
               '2018-06-25 05:38:08.259109312',
                         '2018-06-27 00:00:00'],
              dtype='datetime64[ns]', length=248, freq=None)

In [11]:
pd.date_range(start='17.04.2017',end='27.06.2018',periods=248,freq='D')
# we cant give four arguments at a time

ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified

In [12]:
pd.date_range(start='20.03.2022',end='13.04.2022',freq='B')

DatetimeIndex(['2022-03-21', '2022-03-22', '2022-03-23', '2022-03-24',
               '2022-03-25', '2022-03-28', '2022-03-29', '2022-03-30',
               '2022-03-31', '2022-04-01', '2022-04-04', '2022-04-05',
               '2022-04-06', '2022-04-07', '2022-04-08', '2022-04-11',
               '2022-04-12', '2022-04-13'],
              dtype='datetime64[ns]', freq='B')

In [15]:
pd.date_range(start='20.03.2022',end='13.04.2022',freq='D')

DatetimeIndex(['2022-03-20', '2022-03-21', '2022-03-22', '2022-03-23',
               '2022-03-24', '2022-03-25', '2022-03-26', '2022-03-27',
               '2022-03-28', '2022-03-29', '2022-03-30', '2022-03-31',
               '2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13'],
              dtype='datetime64[ns]', freq='D')

In [13]:
pd.date_range(start='17-04-2017',end='27-06-2018',freq='B')

DatetimeIndex(['2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
               '2017-04-21', '2017-04-24', '2017-04-25', '2017-04-26',
               '2017-04-27', '2017-04-28',
               ...
               '2018-06-14', '2018-06-15', '2018-06-18', '2018-06-19',
               '2018-06-20', '2018-06-21', '2018-06-22', '2018-06-25',
               '2018-06-26', '2018-06-27'],
              dtype='datetime64[ns]', length=313, freq='B')

In [14]:
pd.date_range(start='17-04-2017',end='27-06-2018',freq='D')

DatetimeIndex(['2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
               '2017-04-21', '2017-04-22', '2017-04-23', '2017-04-24',
               '2017-04-25', '2017-04-26',
               ...
               '2018-06-18', '2018-06-19', '2018-06-20', '2018-06-21',
               '2018-06-22', '2018-06-23', '2018-06-24', '2018-06-25',
               '2018-06-26', '2018-06-27'],
              dtype='datetime64[ns]', length=437, freq='D')

In [16]:
pd.date_range(start='20.03.2022',end='13.12.2022',freq='M')

DatetimeIndex(['2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30',
               '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31',
               '2022-11-30'],
              dtype='datetime64[ns]', freq='M')

In [17]:
pd.date_range(start='20.03.2022',end='13.12.2022',freq='SM')
# SM---> Semi month

DatetimeIndex(['2022-03-31', '2022-04-15', '2022-04-30', '2022-05-15',
               '2022-05-31', '2022-06-15', '2022-06-30', '2022-07-15',
               '2022-07-31', '2022-08-15', '2022-08-31', '2022-09-15',
               '2022-09-30', '2022-10-15', '2022-10-31', '2022-11-15',
               '2022-11-30'],
              dtype='datetime64[ns]', freq='SM-15')

In [18]:
pd.date_range(start='20.03.2022',end='13.12.2022',freq='SMS')

DatetimeIndex(['2022-04-01', '2022-04-15', '2022-05-01', '2022-05-15',
               '2022-06-01', '2022-06-15', '2022-07-01', '2022-07-15',
               '2022-08-01', '2022-08-15', '2022-09-01', '2022-09-15',
               '2022-10-01', '2022-10-15', '2022-11-01', '2022-11-15',
               '2022-12-01'],
              dtype='datetime64[ns]', freq='SMS-15')

In [20]:
pd.date_range(start='20.03.2022',end='13.12.2025',freq='Y')

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [21]:
pd.date_range(start='20.03.2022',end='13.12.2025',freq='YS')

DatetimeIndex(['2023-01-01', '2024-01-01', '2025-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [22]:
pd.date_range(start='20.03.2022',end='13.12.2025',freq='W')

DatetimeIndex(['2022-03-20', '2022-03-27', '2022-04-03', '2022-04-10',
               '2022-04-17', '2022-04-24', '2022-05-01', '2022-05-08',
               '2022-05-15', '2022-05-22',
               ...
               '2025-10-05', '2025-10-12', '2025-10-19', '2025-10-26',
               '2025-11-02', '2025-11-09', '2025-11-16', '2025-11-23',
               '2025-11-30', '2025-12-07'],
              dtype='datetime64[ns]', length=195, freq='W-SUN')