In [1]:
import pandas as pd 
import numpy as np

In [4]:
df1 = pd.read_csv('C:/Users/ajjup/OneDrive/Desktop/tatamotors.csv', nrows = 300)

In [5]:
df1

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-04-17,452.000000,455.700012,447.299988,449.200012,449.200012,4913930
1,2017-04-18,452.000000,455.750000,442.500000,443.700012,443.700012,4235130
2,2017-04-19,443.000000,449.500000,438.299988,443.049988,443.049988,6319332
3,2017-04-20,447.850006,447.850006,442.100006,443.950012,443.950012,3288900
4,2017-04-21,446.750000,448.450012,437.600006,440.600006,440.600006,5325590
...,...,...,...,...,...,...,...
295,2018-06-21,307.899994,308.500000,305.500000,307.000000,307.000000,5085379
296,2018-06-22,306.850006,308.899994,303.200012,308.000000,308.000000,6033095
297,2018-06-25,306.299988,306.299988,287.600006,289.399994,289.399994,16392183
298,2018-06-26,288.399994,288.399994,275.100006,276.850006,276.850006,30728620
299,2018-06-27,278.500000,279.500000,270.000000,271.049988,271.049988,19077416

In [6]:
df2  = df1.drop("Date", axis = 1 )

In [7]:
df2

           Open        High         Low       Close   Adj Close    Volume
0    452.000000  455.700012  447.299988  449.200012  449.200012   4913930
1    452.000000  455.750000  442.500000  443.700012  443.700012   4235130
2    443.000000  449.500000  438.299988  443.049988  443.049988   6319332
3    447.850006  447.850006  442.100006  443.950012  443.950012   3288900
4    446.750000  448.450012  437.600006  440.600006  440.600006   5325590
..          ...         ...         ...         ...         ...       ...
295  307.899994  308.500000  305.500000  307.000000  307.000000   5085379
296  306.850006  308.899994  303.200012  308.000000  308.000000   6033095
297  306.299988  306.299988  287.600006  289.399994  289.399994  16392183
298  288.399994  288.399994  275.100006  276.850006  276.850006  30728620
299  278.500000  279.500000  270.000000  271.049988  271.049988  19077416

[300 rows x 6 columns]

In [10]:
pd.date_range(start="17-04-2017", end='27-06-2018',freq = 'D' )

DatetimeIndex(['2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
               '2017-04-21', '2017-04-22', '2017-04-23', '2017-04-24',
               '2017-04-25', '2017-04-26',
               ...
               '2018-06-18', '2018-06-19', '2018-06-20', '2018-06-21',
               '2018-06-22', '2018-06-23', '2018-06-24', '2018-06-25',
               '2018-06-26', '2018-06-27'],
              dtype='datetime64[ns]', length=437, freq='D')

In [12]:
pd.date_range(start = '17.04.2017', end = '27.06.2018', periods = 300, freq = "D")

ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified

In [15]:
pd.date_range(start = '20.03.2022', end = '13.04.2022', freq = "D")

DatetimeIndex(['2022-03-20', '2022-03-21', '2022-03-22', '2022-03-23',
               '2022-03-24', '2022-03-25', '2022-03-26', '2022-03-27',
               '2022-03-28', '2022-03-29', '2022-03-30', '2022-03-31',
               '2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13'],
              dtype='datetime64[ns]', freq='D')

In [16]:
pd.date_range(start = '20.03.2022', end = '13.04.2022', freq = "B")

DatetimeIndex(['2022-03-21', '2022-03-22', '2022-03-23', '2022-03-24',
               '2022-03-25', '2022-03-28', '2022-03-29', '2022-03-30',
               '2022-03-31', '2022-04-01', '2022-04-04', '2022-04-05',
               '2022-04-06', '2022-04-07', '2022-04-08', '2022-04-11',
               '2022-04-12', '2022-04-13'],
              dtype='datetime64[ns]', freq='B')

In [18]:
pd.date_range(start = "17.04.2017",end = '27-06-2018', freq='B')

DatetimeIndex(['2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
               '2017-04-21', '2017-04-24', '2017-04-25', '2017-04-26',
               '2017-04-27', '2017-04-28',
               ...
               '2018-06-14', '2018-06-15', '2018-06-18', '2018-06-19',
               '2018-06-20', '2018-06-21', '2018-06-22', '2018-06-25',
               '2018-06-26', '2018-06-27'],
              dtype='datetime64[ns]', length=313, freq='B')

In [19]:
pd.date_range(start = '20.03.2022', end = '13.12.2022', freq = "M")

DatetimeIndex(['2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30',
               '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31',
               '2022-11-30'],
              dtype='datetime64[ns]', freq='M')

In [20]:
pd.date_range(start = '20.03.2022', end = '13.12.2022', freq = "MS")

DatetimeIndex(['2022-04-01', '2022-05-01', '2022-06-01', '2022-07-01',
               '2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01',
               '2022-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [21]:
pd.date_range(start = '20.03.2022', end = '13.12.2022', freq = "SM")

DatetimeIndex(['2022-03-31', '2022-04-15', '2022-04-30', '2022-05-15',
               '2022-05-31', '2022-06-15', '2022-06-30', '2022-07-15',
               '2022-07-31', '2022-08-15', '2022-08-31', '2022-09-15',
               '2022-09-30', '2022-10-15', '2022-10-31', '2022-11-15',
               '2022-11-30'],
              dtype='datetime64[ns]', freq='SM-15')

In [25]:
pd.date_range(start = '03.01.2022', end = '13.12.2022', freq = "SMS")

DatetimeIndex(['2022-03-01', '2022-03-15', '2022-04-01', '2022-04-15',
               '2022-05-01', '2022-05-15', '2022-06-01', '2022-06-15',
               '2022-07-01', '2022-07-15', '2022-08-01', '2022-08-15',
               '2022-09-01', '2022-09-15', '2022-10-01', '2022-10-15',
               '2022-11-01', '2022-11-15', '2022-12-01'],
              dtype='datetime64[ns]', freq='SMS-15')

In [26]:
pd.date_range(start = '01.01.2022', end = '31.12.2025', freq = "Y")

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [27]:
pd.date_range(start = '01.01.2022', end = '31.12.2025', freq = "YS")

DatetimeIndex(['2022-01-01', '2023-01-01', '2024-01-01', '2025-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [30]:
pd.date_range(start = '01.01.2022', end = '31.12.2025', freq = "W")

DatetimeIndex(['2022-01-02', '2022-01-09', '2022-01-16', '2022-01-23',
               '2022-01-30', '2022-02-06', '2022-02-13', '2022-02-20',
               '2022-02-27', '2022-03-06',
               ...
               '2025-10-26', '2025-11-02', '2025-11-09', '2025-11-16',
               '2025-11-23', '2025-11-30', '2025-12-07', '2025-12-14',
               '2025-12-21', '2025-12-28'],
              dtype='datetime64[ns]', length=209, freq='W-SUN')

In [35]:
july2022 = pd.date_range(start = "07.01.2022", end = '07.31.2022', freq="D")

In [36]:
july2022

DatetimeIndex(['2022-07-01', '2022-07-02', '2022-07-03', '2022-07-04',
               '2022-07-05', '2022-07-06', '2022-07-07', '2022-07-08',
               '2022-07-09', '2022-07-10', '2022-07-11', '2022-07-12',
               '2022-07-13', '2022-07-14', '2022-07-15', '2022-07-16',
               '2022-07-17', '2022-07-18', '2022-07-19', '2022-07-20',
               '2022-07-21', '2022-07-22', '2022-07-23', '2022-07-24',
               '2022-07-25', '2022-07-26', '2022-07-27', '2022-07-28',
               '2022-07-29', '2022-07-30', '2022-07-31'],
              dtype='datetime64[ns]', freq='D')

In [40]:
july2022.size

31

In [37]:
july22b = pd.date_range(start = "07.01.2022", end = '07.31.2022', freq="B")

In [38]:
july22b

DatetimeIndex(['2022-07-01', '2022-07-04', '2022-07-05', '2022-07-06',
               '2022-07-07', '2022-07-08', '2022-07-11', '2022-07-12',
               '2022-07-13', '2022-07-14', '2022-07-15', '2022-07-18',
               '2022-07-19', '2022-07-20', '2022-07-21', '2022-07-22',
               '2022-07-25', '2022-07-26', '2022-07-27', '2022-07-28',
               '2022-07-29'],
              dtype='datetime64[ns]', freq='B')

In [39]:
july22b.size

21

### Including Public holidays

In [41]:
from pandas.tseries.holiday import USFederalHolidayCalendar

In [42]:
from pandas.tseries.offsets import CustomBusinessDay

In [43]:
ush = CustomBusinessDay(calendar = USFederalHolidayCalendar())

In [44]:
julyfeb = pd.date_range(start = "07.01.2022", end = '07.31.2022', freq=ush)

In [45]:
julyfeb

DatetimeIndex(['2022-07-01', '2022-07-05', '2022-07-06', '2022-07-07',
               '2022-07-08', '2022-07-11', '2022-07-12', '2022-07-13',
               '2022-07-14', '2022-07-15', '2022-07-18', '2022-07-19',
               '2022-07-20', '2022-07-21', '2022-07-22', '2022-07-25',
               '2022-07-26', '2022-07-27', '2022-07-28', '2022-07-29'],
              dtype='datetime64[ns]', freq='C')

In [46]:
julyfeb.size

20

In [49]:
from pandas.tseries.offsets import CustomBusinessDay

In [47]:
from pandas.tseries.holiday import  Holiday,  AbstractHolidayCalendar

In [48]:
class IndianHolidays(AbstractHolidayCalendar):
    rules = [
        Holiday("New Year's Day", month=1, day=1),
        Holiday("Independence Day", month=8, day=15),

        Holiday("Dasara", month=11, day=1),
        Holiday("Diwali", month=11, day=10),
        Holiday("Formation Dat", month=11, day=15),

        Holiday("Christmas Day", month=12, day=25),
    ]

In [50]:
IndHoliday = CustomBusinessDay(calendar = IndianHolidays())

In [51]:
pd.date_range(start = "10.20.2022", end = '01.03.2023', freq=IndHoliday)

DatetimeIndex(['2022-10-20', '2022-10-21', '2022-10-24', '2022-10-25',
               '2022-10-26', '2022-10-27', '2022-10-28', '2022-10-31',
               '2022-11-02', '2022-11-03', '2022-11-04', '2022-11-07',
               '2022-11-08', '2022-11-09', '2022-11-11', '2022-11-14',
               '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-21',
               '2022-11-22', '2022-11-23', '2022-11-24', '2022-11-25',
               '2022-11-28', '2022-11-29', '2022-11-30', '2022-12-01',
               '2022-12-02', '2022-12-05', '2022-12-06', '2022-12-07',
               '2022-12-08', '2022-12-09', '2022-12-12', '2022-12-13',
               '2022-12-14', '2022-12-15', '2022-12-16', '2022-12-19',
               '2022-12-20', '2022-12-21', '2022-12-22', '2022-12-23',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2023-01-02', '2023-01-03'],
              dtype='datetime64[ns]', freq='C')

## Customize Weekends

In [52]:
# Sun Mon Tue Wed Thu 

# Fri  sat

In [53]:
BE = CustomBusinessDay(weekmask = 'Sun Mon Tue Wed Thu')

In [56]:
pd.date_range(start="04-01-2022", end="04-30-2022", freq = "D")

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range(start="04-01-2022", end="04-30-2022", freq = "B")

DatetimeIndex(['2022-04-01', '2022-04-04', '2022-04-05', '2022-04-06',
               '2022-04-07', '2022-04-08', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-18',
               '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-22',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29'],
              dtype='datetime64[ns]', freq='B')

In [61]:
pd.date_range(start="04-01-2022", end="04-30-2022", freq = BE)

DatetimeIndex(['2022-04-03', '2022-04-04', '2022-04-05', '2022-04-06',
               '2022-04-07', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-17', '2022-04-18',
               '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28'],
              dtype='datetime64[ns]', freq='C')